In [ ]:
#this is a comment

In [23]:
this is a comment

SyntaxError: invalid syntax (<ipython-input-23-453a0c0169b5>, line 1)

In [ ]:
#Variables
#Variables are nothing but placeholders for a value

In [ ]:
#Rules to declare variables
    #Rule1 - No name space should be used while declaring the variable name

In [16]:
first name = 'leo'
print(first name)

SyntaxError: invalid syntax (<ipython-input-16-d2bde6e0cdfd>, line 1)

In [17]:
firstname = 'leo'
print(firstname)

leo

In [ ]:
    #Rule2 - You should not start variable with number.

In [18]:
1firstname = 'leo'
print(1firstname)

SyntaxError: invalid syntax (<ipython-input-18-df19f35c601d>, line 1)

In [19]:
first1name = 'leo'
print(first1name)

leo

In [ ]:
    #Rule3 - You should not use special character in the variables

In [20]:
@name = 'leo'
print(@name)

SyntaxError: invalid syntax (<ipython-input-20-19c34710ed7b>, line 1)

In [21]:
n@me = 'leo'
print(n@me)

SyntaxError: can't assign to operator (<ipython-input-21-4ce24631c4b3>, line 1)

In [22]:
name& = "leo"
print(name&)

SyntaxError: invalid syntax (<ipython-input-22-bd051fd49eb2>, line 1)

In [ ]:
#introduction to datatypes: 5 different datatypes

#string --------> Str
#Integers ------> Int
#list
#tuple
#dictionary ----> dict

In [ ]:
#python is case sensitive language

In [ ]:
#classification of datatypes
    #two different catagories
        #1 Mutable datatype: (Flexible)
            #we can able to change, modify or alter the data once its has been assigned or declared.
        #2 Immutable datatyoe: (fixed)
            #we cannot able to change, modify or alter the data once its has been assigned or declared.

In [ ]:
Introduction to string datatype:
    Definition: A string is nothing but a series of charactors.
        Sting can be classified as immutiable datatype (fixeddata type)
        how to define a sting: 3 pissble ways:
                Single quotes -------> ''
                Double quotes -------> ""
                Trible quotes -------> """"""

In [24]:
name = 'leo'
print(name)

leo

In [27]:
name1 = "leo"
print(name)

leo

In [28]:
name2 = """leo"""
print(name)

leo

In [ ]:
#introduction to built in methods of a strings:

In [29]:
type(name)

str

In [30]:
type(name1)

str

In [32]:
type(firstname)

str

In [34]:
type(name2)

str

In [35]:
full_name = 'leo solomon'
print(full_name)

leo solomon

In [36]:
print(full_name.title())  #convert starting letter

Leo Solomon

In [37]:
#req ------> to convert into capital letters
print(full_name.upper())

LEO SOLOMON