In [ ]:
Introduction to list datatypes:
    definition: list is an ordered collection of items.
        list is classified as an mutable datatype.
        how to define a list --------> []

In [7]:
students = ['deepak','leo','naveen','ravi','kumar','joshua'] #mapped with indexes 0,1,2,3...

In [8]:
print(students)

['deepak', 'leo', 'naveen', 'ravi', 'kumar', 'joshua']

In [9]:
type(students)

list

In [ ]:
introduction to indexing: 0,1,2,3,....

In [ ]:
#req: i want to access ravi name ion the output....?

In [10]:
print(students[3])

ravi

In [ ]:
# enhancement of the code.

In [11]:
print(students[3].title())

Ravi

In [12]:
print(students[3])

ravi

In [ ]:
reassignment, adding and removing of elements/items in the list:

In [13]:
print(students)

['deepak', 'leo', 'naveen', 'ravi', 'kumar', 'joshua']

In [ ]:
#req: replace naveen with kiran

In [16]:
students[2] = "kiran"  #reassignment....!

In [17]:
print(students)

['deepak', 'leo', 'kiran', 'ravi', 'kumar', 'joshua']

In [ ]:
#req: to add swapna to the list above....!

In [18]:
students.append('swapna')

In [19]:
print(students)

['deepak', 'leo', 'kiran', 'ravi', 'kumar', 'joshua', 'swapna']

In [ ]:
#req: to add salman to the list

In [20]:
students.append('salman')

In [21]:
print(students)

['deepak', 'leo', 'kiran', 'ravi', 'kumar', 'joshua', 'swapna', 'salman']

In [ ]:
#req: to add laksmi at the 3rd index position

In [24]:
students.insert(3, "laxmi")

In [25]:
print(students)

['deepak', 'leo', 'kiran', 'laxmi', 'ravi', 'kumar', 'joshua', 'swapna', 'salman']

In [ ]:
#append vs insert

In [ ]:
removal of elements from the list:

In [ ]:
#req: deepak from the list.....!

In [27]:
del students [0] # oneway -----------> parement delete.

print(students

In [28]:
print (students)

['leo', 'kiran', 'laxmi', 'ravi', 'kumar', 'joshua', 'swapna', 'salman']

In [ ]:
# pop method ------> it will be creating a carboncopy of the deleted items.

In [ ]:
pop -------------> by default it will deleting the items from the last or the end of the list.

In [30]:
print(students)

['leo', 'kiran', 'laxmi', 'ravi', 'kumar', 'joshua', 'swapna', 'salman']

In [31]:
x = students.pop()

In [32]:
print(students)

['leo', 'kiran', 'laxmi', 'ravi', 'kumar', 'joshua', 'swapna']

In [33]:
print(x)

salman

In [34]:
y = students.pop(3)

In [35]:
print(students)

['leo', 'kiran', 'laxmi', 'kumar', 'joshua', 'swapna']

In [36]:
print(y)

ravi